<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <title>TrApp</title>

    <meta name="description" content="Najlepsza przeglądarka pomiarów z Trackimo.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico?"/>
    <link rel="stylesheet" href="bower_components/bulma/css/bulma.css"/>
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css"/>
    <link rel="stylesheet" href="style/style.css"/>
</head>

<body>

<div id="page-loading" class="section">
    <div class="container">
        <p class="title">
            Witaj, to jest <strong>TrApp</strong>.
        </p>

        <div class="content">
            <p class="is-blinking">
                Trwa wczytywanie danych,<br class="is-hidden-tablet"/>
                proszę czekać ...
            </p>
        </div>
    </div>
</div>

<div id="page-login" class="section is-hidden">
    <div class="container">
        <p class="title">
            Witaj, to jest <strong>TrApp</strong>.
        </p>

        <p class="subtitle">
            Najlepsza przeglądarka pomiarów z&nbsp;<a href="http://trackimo.com/">Trackimo</a>&trade;.
        </p>

        <div class="content">
            <p>
                Użytkowanie strony wymaga zalogowania się.<br class="is-hidden-mobile"/>
                Nie potrzebujesz rejestrować nowego konta.<br class="is-hidden-mobile"/>
                Logowanie odbywa się przez usługę Trackimo&trade;.
            </p>
            <p>
                <a id="a-login" class="button is-primary" href="#">Przejdź do logowania.</a>
            </p>
            <p>
                <em>Uwaga!</em> Jeżeli podczas logowania zobaczysz komunikat:<br class="is-hidden-mobile"/>
                <code>{"code":"401",<wbr/>"message":"User is not authorized"}</code><br class="is-hidden-mobile"/>
                wyloguj się z&nbsp;usługi Trackimo&trade; i&nbsp;zaloguj jeszcze raz.
            </p>
        </div>
    </div>
</div>


<div id="page-data" class="is-hidden">
    <div id="data-header">
        <div id="some-head">
            <p>Witaj <span id="user-email">some@user.net</span>, to jest <span id="head-app-name">TrApp</span>.</p>
            <p><a id="a-logout" href="#">Wyloguj.</a></p>
        </div>

        <div id="some-select">
            <p class="control has-addons">
                <span id="select-device-container" class="select">
                    <select id="select-device" title="Samochód"></select>
                </span>

                <input id="select-day" class="input is-expanded" type="text" placeholder="Dzień pomiaru.">
                <input id="select-button" class="button is-primary" type="button" value="Przeglądaj trasę.">
            </p>
        </div>

        <div>
            <p>Aktualnie przeglądasz: <span id="current-device">?</span> z dnia <span id="current-date">?</span>.</p>
        </div>
    </div>

    <div id="data-body">
        <div id="map-container">
            <div id="map-area">&nbsp;</div>
        </div>

        <div id="table-container">
            <table id="table-data" class="table">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Data</th>
                    <th><abbr title="Czas od ostatniego pomiaru.">Czas</abbr> (min)</th>
                    <th><abbr title="Dystans od ostatniego pomiaru.">Dystans</abbr> (km)</th>
                    <th>Prędkość</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="overlay" class="is-hidden">
    <div id="overlay-img"></div>
</div>

<div id="scripts">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery.floatThead/dist/jquery.floatThead.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/pl.js"></script>
    <script src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="bower_components/pikaday/pikaday.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNxqCspUQJRi8shccxOT8hWdCY-_ZSQuQ"></script>
    <script src="bower_components/oms/dist/oms.min.js"></script>

    <script src="script/var.js"></script>
    <script src="script/api.js"></script>
    <script src="script/map.js"></script>
    <script src="script/init.js"></script>
</div>

</body>
</html>
